body{
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 1.5;
}
/* .page{
    margin: 20px auto;
    width: 1020px;
} */

.header{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    margin: 10px auto;
    width: 1020px;
    padding: 5px;
    

}

ul.link{
    margin: 25px 5px 10px 0px;
    padding: right; 
    text-align: justify;
}

ul.link li{
    display: inline-block;
    margin-left: 7px;
    padding: 3px;
}

.menu{
    text-decoration: none;
    padding: 0 10px;
    float:right;    
}

a{
    text-decoration: none;
    color: #6C6C6C;
}

a:hover{
    border-bottom: 2px solid #D51B48;
    color:#D51B48;
    background-color: #fff;
}

.link_right{
    display: inline;
    margin-left: 5px;
    text-align: justify;
}

.block2{
    display: block; 
    left: 0; 
    width: 100%;
    position: absolute;
}

.rect{
    position: absolute;
    /* width: 100%; */
    height: 300px;
    top: 480px; 

    background: #34393A;
    opacity: 0.7; /* Значение прозрачности */
    filter: alpha(Opacity=70); /* Прозрачность в IE */
}

.rect_image{
    position: absolute;
    width: 560px;
    height: 280px;
    top: 280px; 
    left: 1080px;

    font-size: 20px;
    margin: 20px auto;
    /* width: 1020px; */
    color: #fff;
    padding: 15px;


}

.headings{
    font-family: 'Archivo Black', sans-serif;;
    font-size: 50px;
    width: 300px;
    border-bottom: 5px solid #D51B48;
    
}

.button1{
    background-color: #D51B48;
    color: #fff;
    border: none;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-weight: 600;
    border-radius: 10px;

}

.block3{
    position: absolute;
    width: 560px;
    height: 280px;
    top: 1080px; 
    left: 380px;
    margin: 20px auto;
    
}

.about{
    position: absolute;
    width: 560px;
    height: 240px;
    top: 0px; 
    left: 650px; 
}

.button2{
    background-color: #D51B48;
    color: #fff;
    border: none;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-weight: 600;
    border-radius: 10px;

}
.rect_block4{
    box-sizing: border-box;

    position: absolute;
    width: 100%;
    height: 600px;
    left: 0px;
    top: 1650px;

    background: #470D6C;
    border: 1px solid #9E896A;
}
.block4{
    position: absolute;
    width: 460px;
    height: 280px;
    top: 1700px; 
    left: 380px;
    margin: 30px auto;

    color: #fff;
}
.table{
    position: relative;
    width: 630px;
    height: 380px;
    top: 1600px; 
    left: 950px; 
    color:#fff;
    /* border-spacing: 30px 5px;
    border: none;  */
}

table{
    border-spacing: 100px 10px;
    border: none;
}

td{
    padding: 5px;
}

.block6{
    position: relative;
    width: 630px;
    height: 380px;
    top: 1850px; 
    left: 380px; 
    color:#3A323E;
}

.rect_bike1{
    position: relative;
    width: 240px;
    height: 300px;
    top: 1470px; 
    left: 780px; 
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.rect_bike2{
    position: absolute;
    width: 240px;
    height: 300px;
    top: 2400px; 
    left: 1050px; 
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.rect_bike3{
    position: absolute;
    width: 240px;
    height: 300px;
    top: 2400px; 
    left: 1320px; 
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.image_bike1{
    position: absolute;
    width: 215px;
    height: 350px;
    top: 2400px; 
    left: 780px;  

}
.image_bike2{
    position: absolute;
    width: 215px;
    height: 350px;
    top: 2400px; 
    left: 1050px; 

}
.image_bike3{
    position: absolute;
    width: 215px;
    height: 350px;
    top: 2400px; 
    left: 1320px; 
}
.txt1{
    position: absolute;
    width: 215px;
    height: 350px;
    top: 2580px; 
    left: 790px; 
    font-weight: 500; 
}
.txt2{
    position: absolute;
    width: 215px;
    height: 350px;
    top: 2580px; 
    left: 1060px;
    font-weight: 500; 
}
.txt3{
    position: absolute;
    width: 215px;
    height: 350px;
    top: 2580px; 
    left: 1330px; 
    font-weight: 500; 
}
.bike_txt1{
    position: absolute;
    width: 215px;
    height: 350px;
    top: 2605px; 
    left: 790px;
}

.bike_txt2{
    position: absolute;
    width: 215px;
    height: 350px;
    top: 2605px; 
    left: 1060px;
}
.bike_txt3{
    position: absolute;
    width: 215px;
    height: 350px;
    top: 2608px; 
    left: 1330px; 
}

.price1{
    position: absolute;
    width: 215px;
    height: 350px;
    top: 2640px; 
    left: 790px;
    font-size: large;
}

.price2{
    position: absolute;
    width: 215px;
    height: 350px;
    top: 2640px; 
    left: 1060px;
    font-size: large;
}

.price3{
    position: absolute;
    width: 215px;
    height: 350px;
    top: 2640px; 
    left: 1330px; 
    font-size: large;
}
footer{
    position:absolute;
    width: 100%;
    height: 180px;
    top: 2850px; 
    left: 0px; 

    margin: 10px auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 1.5;

    background: #444244;
    color: #fff;
}

.footer_logo{
    margin: 10px auto;
    width: 1150px;
}

.foot_txt{
    width: 280px;
    font-size: small;
    margin: 0;
}

.contact{
    width: 280px;
    float: right;

    position:absolute;
    height: 180px;
    top: 10px; 
    left: 1330px; 

}
.flink{
    margin-right: 10px;
}

/* свойства модального окна по умолчанию */
.modal {
    position: fixed;
    /* фиксированное положение */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    /* цвет фона */
    z-index: 1050;
    opacity: 0;
    /* по умолчанию модальное окно прозрачно */
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    /* анимация перехода */
    pointer-events: none;
    /* элемент невидим для событий мыши */
  }

  /* при отображении модального окно */
  .modal:target {
    opacity: 1;
    pointer-events: auto;
    overflow-y: auto;
  }

  /* ширина модального окна и его отступы от экрана */
  .modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
  }

  /* свойства для блока, содержащего контент модального окна */
  .modal-content {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: .3rem;
    outline: 0;
  }
  
  /* свойства для заголовка модального окна */
  .modal-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid #eceeef;
    color: #000;
  }

  .modal-title {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.5;
    font-size: 1.25rem;
    font-weight: 500;
  }

  /* свойства модального окна по умолчанию */
  .modal {
    position: fixed;
    /* фиксированное положение */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    /* цвет фона */
    z-index: 1050;
    opacity: 0;
    /* по умолчанию модальное окно прозрачно */
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    /* анимация перехода */
    pointer-events: none;
    /* элемент невидим для событий мыши */
  }

  /* при отображении модального окно */
  .modal:target {
    opacity: 1;
    pointer-events: auto;
    overflow-y: auto;
  }

  /* ширина модального окна и его отступы от экрана */
  .modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
  }

  @media (min-width: 576px) {
    .modal-dialog {
      max-width: 500px;
      margin: 30px auto;
    }
  }

  /* свойства для блока, содержащего контент модального окна */
  .modal-content {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: .3rem;
    outline: 0;
  }

  @media (min-width: 768px) {
    .modal-content {
      -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
      box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    }
  }

  /* свойства для заголовка модального окна */
  .modal-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid #eceeef;
  }

  .modal-title {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.5;
    font-size: 1.25rem;
    font-weight: 500;
    color: #000;
  }

  /* свойства для кнопки "Закрыть" */
  .close {
    float: right;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    text-decoration: none;
  }

  /* свойства для кнопки "Закрыть" при нахождении её в фокусе или наведении */
  .close:focus,
  .close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity: .75;
  }

  /* свойства для блока, содержащего основное содержимое окна */
  .modal-body {
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 15px;
    overflow: auto;
    color: #000;
  }